<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="myprofile"> 
        <h1>{{wallet.isactive}} {{wallet.balance}}</h1>
            <h2>Balance: {{wallet.balance}}</h2>
            <h2>Customer: {{wallet.customer}}</h2>
            <h2>Pin: {{wallet.pin}}</h2>
            <h2>Currency : {{wallet.currency}}</h2> 
            <h2>Date Created: {{wallet.date_created}}</h2> 
        </div>
    <!-- <h1>{{customer.first_name}} {{customer.last_name}}</h1> -->
    <!-- <h2>Pin: {{wallet.pin}}</h2> -->
    <!-- <h2>Address:{{customer.address}}</h2>
    <h2>Phonenumber:{{customer.phonenumber}}</h2> -->

</body>
</html>